---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

/**
 * Fonts
 */
@import url('https://fonts.googleapis.com/css?family=Raleway:600');
$raleway-stack: 'Raleway', 'Verdana', 'Lucida Grande', 'Gill Sans', 'Arial',
  'Helvetica', sans-serif;
$system-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !default;

/**
   * Colours
   */
$white: #fff;
$black: #222;
$grey: #adafaa;
$midgrey: #767676;
$darkgrey: #444;
$lightgrey: #ccc;
$silver: #f8f8f8;
$pink: #e83e8c;
$primary: #005b99; /* https://www.canada.ca/en/treasury-board-secretariat/services/government-communications/federal-identity-program/technical-specifications/official-symbols/colour-values.html */
$primaryDark: darken($primary, 20%);
$primaryContrastAa: #99d6ff;
$secondary: #993d00; /* 180deg from primary*/
$secondaryDark: darken($secondary, 20%);
$green: #036803;
$successDark: darken($green, 20%);
$info: #03607d;
$infoDark: darken($info, 20%);
$red: #b60202;
$dangerDark: darken($red, 20%);
$yellow: #f9d615;
$warning: #695802;
$warningDark: darken($warning, 20%);

// Spacing
$content-width: 50rem;
$line-height: 1.5;
$spacing: 1rem;

// Media queries
$on-laptop: $content-width;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

/* Honeypot */
.field-wrapper {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import 'normalize', 'base', 'layout', 'legacy', 'syntax-highlighting';
