---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/**
 * Fonts
 */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700|Roboto);
$raleway-stack: Raleway,
sans-serif;
$roboto-stack: Roboto,
sans-serif;

/**
 * Variables
 */
// Font stacks
$body-font: $roboto-stack;
$heading-font: $raleway-stack;

// Colours
$medium-blue: #2e5986;
$medium-green: #3c4c31;
$medium-red: #631d1f;
$medium-black: #202020;
$light-blue: #97acc3;
$light-green: #9ea698;
$light-red: #b18e8f;
$light-black: #7b7474;
$dark-blue: #122335;
$dark-green: #181e13;
$dark-red: #270b0c;
$dark-black: #000;
$white: #fff;
$text-primary-color: $medium-black;
$text-secondary-color: $light-black;
$text-link-color: $medium-blue;
$text-link-hover-color: mix(white, $medium-blue, 20%);
$text-link-visited-color: mix(black, $medium-blue, 20%);
$text-link-active-color: $medium-red;
$border-primary-color: $light-black;
$border-secondary-color: lighten($light-black, 20%);

// Spacing
$content-width: 800px;
$line-height: 1.5;
$vertical-rhythm: 1em;

// Media queries
$on-laptop: 800px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}

%vertical-rhythm {
    margin-bottom: $vertical-rhythm / 2;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "normalize",
        "base",
        "layout",
        "legacy",
        "syntax-highlighting"
;
