<footer id="footer">

  <div class="wrapper">

    <div class="footer-grid">
      <div class="footer-grid-item">
        <p class="site-description">Things I think about or just find and want to share.</p>

        <p>subscribe <a href="/feed.xml">via RSS</a></p>
      </div>

      <div class="footer-grid-item">
        <ul>
          <li><a href="/bagpipe-jokes">bagpipe jokes</a></li>
          <li><a href="/archive.html">archive</a></li>
          <li><a href="/category">categories</a></li>
          <li><a href="/tag">tags</a></li>
        </ul>
      </div>

      <div class="footer-grid-item">
        <ul>
          <li><a href="/about/">about</a></li>
          <li><a href="/contact/">contact</a></li>
        </ul>
      </div>
    </div>

  </div>

</footer>

{%- if page.title == "Search results" -%}
<script src="/js/search.js?v=1.0.0"></script>
{%- endif -%}
{%- if page.layout == "post" -%}
<script src="/js/fslightbox.min.js"></script>
<script>
  const toggles = document.querySelectorAll('.toggle');
  toggles.forEach(toggle => {
    toggle.addEventListener('click', e => {
      const target = document.getElementById(e.currentTarget.dataset.target)
      target.style.display = (target.style.display == "none") ? "block" : "none";
      e.currentTarget.classList.toggle('active')
      if (target.dataset.type === 'disqus' && target.childNodes.length === 0) {
        const disqus_config = function () {
          this.page.url = '{{ site.url | url_param_escape }}{{ page.url }}';
          this.page.identifier = '{{ page.id }}';
        };
        // disqus
        // DON'T EDIT BELOW THIS LINE
        var d = document,
          s = d.createElement('script');
        s.src = '//craigmcn.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      }
    })
  })
</script>
<script id="dsq-count-scr" src="//craigmcn.disqus.com/count.js" async></script>
{%- endif -%}