<header class="site-header">

  <div class="visually-hidden"><a href="#main">Skip to main content</a> <a href="#footer">Skip to footer</a></div>

  <div class="wrapper">

    <h1><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></h1>

    <div class="site-search">
      <form action="/results.html" class="site-search__form">
        <label for="q" class="visually-hidden">Search:</label>
        <input id="q" name="q" class="site-search__input" type="search" pattern="[A-Za-z0-9 -]{2,}"
          placeholder="Search posts" title="Search must be alphanumeric">
        <button class="site-search__button" type="submit">Search</button>
      </form>
    </div>
  </div>

</header>