<header class="header">

  <div class="visually-hidden">
    <a href="#main">Skip to main content</a>
    <a href="#footer">Skip to footer</a>
  </div>

  <div class="wrapper">

    <h1><a href="/">craigmcn</a></h1>

    <div>
      <form class="site-search" action="/results.html">
        <label for="q" class="visually-hidden">Search:</label>
        <input id="q" name="q" class="site-search__input" type="search" placeholder="Search posts">
        <button class="button button--primary" type="submit">Search</button>
      </form>
    </div>

  </div>

</header>