<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <div class="site-search">
      <script>
        (function() {
          var cx = '016624230955475347533:ktzitn8nhhi';
          var gcse = document.createElement('script');
          gcse.type = 'text/javascript';
          gcse.async = true;
          gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(gcse, s);
        })();
      </script>
      <gcse:searchbox-only resultsUrl="results.html"></gcse:searchbox-only>
    </div>
  </div>

</header>
