/* Header */
.header {
  background-color: $silver;
  border-bottom: 1px solid darken($silver, 10%);
  color: $darkgrey;
  padding: 1rem;
  .wrapper {
    display: block;
  }

  h1 {
    font-family: $raleway-stack;
    font-size: 1.1rem;
    margin: 0 0 $spacing 0;
    > a {
      color: inherit;
      text-decoration: none;
    }
  }
}

/* Site search */
.site-search {
  display: flex;
}
.site-search__input {
  border: 1px solid $lightgrey;
  border-radius: 0.25em;
  margin-right: 0.25rem;
  padding: 0.5em 1em;
}

/* Main */
main {
  padding: $spacing;
}

.text-small {
  font-size: 0.8em;
}
.text-large {
  font-size: 1.2em;
}

/* Footer */
footer {
  border-top: 1px solid $midgrey;
  color: $midgrey;
  margin-top: $spacing * 4;
  padding: $spacing * 4 $spacing;

  li {
    list-style: none;
  }
}

.footer__grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 4fr 1fr 1fr;
}

.site-description {
  font-size: 1.3em;
}

.page-content {
  margin-top: $spacing * 2;
  margin-bottom: $spacing * 4;
}

.page-title {
  font-size: 150%;
  margin-bottom: $spacing * 2;
  h2,
  h3 {
    margin: 0;
  }
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  margin-bottom: $spacing;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

pre,
.comments,
.content-wrapper {
  border: $grey 1px solid;
  border-radius: 2px;
  padding: 1em;
}

pre {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

a.toggle {
  &:after {
    font-family: FontAwesome;
    display: inline-block;
    margin-left: 0.5em;
    content: '\f105';
    -moz-transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
  }
  &.active:after {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

.icon > svg {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
}

.post-content {
  &:after {
    clear: both;
    content: '';
    display: table;
  }
}

.post__share {
  p {
    margin-top: 0;
    a {
      padding-right: 0.5rem;
      text-decoration: none;
    }
  }
}

.post__share h3,
.related-posts h3 {
  margin-bottom: $spacing / 4;
}

.post__meta {
  color: $midgrey;
  font-size: 90%;
}

.post__meta,
.related-posts,
.post__nav {
  margin-top: $spacing * 2;
}

.post__nav a {
  display: block;
  padding: $spacing * 0.5 0;
}

.related-posts-item {
  margin-bottom: $spacing;
}

.sm-facebook:hover {
  color: #3b5998;
}
.sm-github:hover {
  color: #333;
}
.sm-twitter:hover {
  color: #1da1f2;
}

.badge {
  background-color: $primary;
  color: $white;
  display: inline-block;
  padding: 1px 5px 1px 5px;
  border-radius: 5px;
  margin-right: 5px;
}

#js-form-response {
  border: 1px solid $green;
  border-radius: 0.25em;
  color: $green;
  margin-bottom: $spacing;
  padding: 0.5rem;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  width: 66.667%;
}

@include media-query($on-laptop) {
  .wrapper {
    margin: 0 auto;
    max-width: $content-width;
  }
  .header {
    .wrapper {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
    h1 {
      margin-bottom: 0;
    }
  }
  .site-search__input {
    width: 20em;
  }
  .footer-grid,
  .related-posts-grid {
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
  }
  .footer-grid-item,
  .related-posts-item {
    -moz-flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
  }
  .related-posts-item {
    color: $midgrey;
    max-width: 16.5rem;
  }
  .post__nav {
    display: flex;
    justify-content: space-between;
  }
  .post__nav a {
    padding: $spacing 0;
  }
}
