/**
 * Legacy styles
 */

.page-content img,
.wp-caption,
.getty.image,
iframe[src*='youtube'],
iframe[src*='vimeo'] {
  border: $lightgrey 1px solid;
  border-radius: 2px;
  padding: 3px;
}

.wp-caption img {
  border: none;
  padding: 0;
}

.getty.image {
  display: inline-block;
  width: 100%;
  max-width: 400px;
  min-width: 200px;
  & > div {
    overflow: hidden;
    position: relative;
    height: 0;
    width: 100%;
  }
  & iframe {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.getty.image p,
.wp-caption-text {
  color: $midgrey;
  font-size: 80%;
  margin: 3px 0 0 0;
  a {
    color: $midgrey;
    text-decoration: none;
    font-weight: normal !important;
    border: none;
    display: inline-block;
    &:hover {
      color: $darkgrey;
    }
  }
}

img[align='left'],
img[align='right'],
.alignleft,
.alignright {
  margin-bottom: $spacing / 2;
  &:after {
    clear: both;
    content: '';
    display: table;
  }
}

img[align='left'],
.alignleft {
  float: left;
  margin-right: $spacing;
}

img[align='right'],
.alignright {
  float: right;
  margin-left: $spacing;
}

.photo-attribution {
  font-style: italic;
  color: $lightgrey;
  font-size: 90%;
}

div.gallery {
  display: flex;
  margin-bottom: 1rem;
}
dl.gallery-item:not(:last-child) {
  margin-right: 1rem;
}
dl.gallery-item {
  border: 1px solid #797979;
  position: relative;
}
dd.gallery-caption {
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  color: $white;
  font-size: 80%;
  padding: 2px 4px;
  position: absolute;
}
