/**
 * Legacy styles
 */

.page-content img,
.wp-caption,
.getty.image,
iframe[src*=youtube],
iframe[src*=vimeo] {
  border: $border-primary-color 1px solid;
  border-radius: 2px;
  padding: 3px;
}

.wp-caption {
  /* margin-top: 1em; /* seems to do more harm than good. */
}

.wp-caption img {
  border: none;
  padding: 0;
}

.getty.image {
  display: inline-block;
  width: 100%;
  max-width: 400px;
  min-width: 200px;
  &>div {
    overflow: hidden;
    position: relative;
    height: 0;
    width: 100%;
  }
  & iframe {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.getty.image p,
.wp-caption-text {
  color: $text-secondary-color;
  font-size: 80%;
  margin: 3px 0 0 0;
  a {
    color: $text-secondary-color;
    text-decoration: none;
    font-weight: normal !important;
    border: none;
    display: inline-block;
    &:hover {
      color: darken($text-secondary-color, 25%)
    }
  }
}


img[align=left], img[align=right],
.alignleft, .alignright {
  margin-bottom: 0.5em;
  &:after {
    clear: both;
    content: "";
    display: table;
  }
}

img[align=left],
.alignleft {
  float: left;
  margin-right: 1em;
}

img[align=right],
.alignright {
  float: right;
  margin-left: 1em;
}

.photo-attribution {
  font-style: italic;
  color: gray;
  font-size: 90%;
}
